<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (C) 2014 Esup Portail http://www.esup-portail.org @Author
    (C) 2012 Julien Gribonvald <julien.gribonvald@recia.fr> Licensed under the
    Apache License, Version 2.0 (the "License"); you may not use this file except
    in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0
    Unless required by applicable law or agreed to in writing, software distributed
    under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
    OR CONDITIONS OF ANY KIND, either express or implied. See the License for
    the specific language governing permissions and limitations under the License. -->
<configuration scan="true">
    <property name="LOG_FILE" value="application.log" />
    <include resource="org/springframework/boot/logging/logback/base.xml" />

<!--     <logger name="org.springframework.web" level=DEBUG /> -->
<!--     <logger name="org.springframework.security" level="DEBUG" /> -->
<!--     <logger name="org.springframework.security.web" level="DEBUG" /> -->
    <logger name="org.springframework.security.cas" level="DEBUG" />
<!--     <logger name="org.jasig.cas.client" level="DEBUG" /> -->
    <logger name="org.esco.demo" level="DEBUG" />

     <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>


</configuration>